$nav-height: 3.125rem;
$--red-02: #e00f0a;

.DebugButton {
  all: unset;
  position: absolute;
  top: $nav-height;
  display: inline-flex;
  padding: 0.3125rem 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  z-index: 99;
  width: 3.125rem;
  height: 2rem;
  border: 0.0625rem solid var(--grey-03, #404044);
  background: #171718;
  cursor: pointer;
}

.Form {
  width: 100%;
  height: 2.5rem;

  .Input {
    all: unset;
    width: 100%;
    height: 1.5rem;
    background-color: #303034;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;

    &:placeholder-shown,
    &::placeholder {
      color: #79828e;
    }
  }
}

.Container {
  height: calc(100% - 2.5rem);
  position: relative;
}

.Mask {
  // mask-border: linear-gradient(
  //   to top,
  //   transparent,
  //   transparent 10%,
  //   white 30%,
  //   white 70%,
  //   transparent 90%,
  //   transparent
  // );
}

.Navigation {
  height: $nav-height;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 0.5rem;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;

  .BackButton {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.GameStartContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    color: white;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    line-height: 2rem;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  span {
    color: white;
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;

    b {
      color: var(--red-02, #e00f0a);
      font-weight: 400;
    }
  }
}

.Blink {
  animation: blink 2s steps(2) infinite;
}

@keyframes blink {
  from {
    // opacity: 0;
    color: black;
  }

  to {
    // opacity: 1;
    color: white;
  }
}

.TouchKeyboardContainer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 1rem;
  align-items: center;

  span {
    color: white;
    text-align: center;
    margin-bottom: 0.75rem;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
  }
}

.ShiftTopDown {
  svg {
    animation: topDown 1s linear infinite;
  }
}

@keyframes topDown {
  0% {
    transform: translateX(0);
  }

  33% {
    transform: translateX(0.125rem);
  }

  66% {
    transform: translateX(-0.125rem);
  }

  100% {
    transform: translateX(0);
  }
}

.Jitter1 {
  animation: jitter1 1s linear infinite;
}

@keyframes jitter1 {
  10% {
    transform: translate(-0.125rem, -0.1875rem) scale(1.005, 1.005);
  }

  20% {
    transform: translate(0.1875rem, 0.125rem) scale(0.995, 0.995);
  }

  30% {
    transform: translate(-0.25rem, -0.1625rem) scale(1.005, 1.005);
  }

  40% {
    transform: translate(0.125rem, 0.125rem) scale(1, 1);
  }

  50% {
    transform: translate(-0.0625rem, -0.125rem) scale(0.99, 0.99);
  }

  60% {
    transform: translate(0, 0.125rem) scale(1.01, 1.01);
  }

  70% {
    transform: translate(-0.0625rem, -0.25rem) scale(1, 1);
  }

  80% {
    transform: translate(0.1875rem, 0.0625rem) scale(0.995, 0.995);
  }

  90% {
    transform: translate(-0.1875rem, -0.125rem) scale(1.05, 1.05);
  }

  100% {
    transform: translate(0.1275rem, 0.0625rem) scale(0.975, 0.975);
  }
}

.Jitter2 {
  animation: jitter2 1s linear infinite;
}

@keyframes jitter2 {
  10% {
    transform: translate(-0.125rem, -0.1875rem) scale(1.01, 1.01);
  }

  20% {
    transform: translate(0.1875rem, 0.125rem) scale(0.99, 0.99);
  }

  30% {
    transform: translate(-0.25rem, -0.3125rem) scale(1.01, 1.01);
  }

  40% {
    transform: translate(0.125rem, 0.1875rem) scale(1, 1);
  }

  50% {
    transform: translate(-0.0625rem, -0.125rem) scale(0.98, 0.98);
  }

  60% {
    transform: translate(0, 0.1875rem) scale(1.02, 1.02);
  }

  70% {
    transform: translate(-0.125rem, -0.25rem) scale(1, 1);
  }

  80% {
    transform: translate(0.1875rem, 0.3125rem) scale(0.99, 0.99);
  }

  90% {
    transform: translate(-0.3125rem, -0.1875rem) scale(1.1, 1.1);
  }

  100% {
    transform: translate(0.1875rem, 0.0625rem) scale(0.95, 0.95);
  }
}
