.LogoBar {
  height: 2.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 0 0.25rem;

  .BackButton {
    all: unset;
    cursor: pointer;
  }
}
